# Aplicação
PORT=8080

# PostgreSQL / Supabase
DB_URL=
DB_USER=
DB_PASSWORD=

# User CLients
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=

# IA
OLLAMA_BASE_URL=
OLLAMA_API_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=